.home-parent {
  display: flex;
  min-height:100%;
  min-width: 100%;
  position: relative;
}

.form {
  height: 800px;
}

.footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
  color:rgba(252, 252, 252, 0.589);
}
